$gray: #d1d2d3;
$lightgray: #ededed;
$darkgray: #878787;
$darkestgray: #555;
$lightestgray: #f7f7f7;
$asblue: #0000ff;
$asgreen: #00ff00;
$aspink: #ff00ff;
$asred: #ff0000;

$black: #000;
$white: #fff;

$font-color-primary: $black;
$font-color-secondary: $white;

$background-color-primary: $white;
$background-color-secondary: $black;

.centeredContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    box-sizing: border-box;
}
