@import '../../styles/variables.scss';

.footer{
    &__container {
        background-color: $white;
        padding: 0px 0px;
        line-height: 2;
        border-top: 1px solid #d1d2d3;
        
        @media screen and (max-width: 500px) {
            font-size: small;
        }
    }
    
    &__content {
        @extend .centeredContainer;

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        padding: 0 20px;
                   
        @media screen and (max-width: 823px) {
            display: flex;
            flex-flow: column;
            text-align: center;
            
            #blockCopy {
                order: 3;
                padding-bottom: 10px;
                font-size: 10px;
            }            
        }
    }

    &__links {
        font-size: 15px;
        color: $asblue;
        display: inline-block;

        a {
            color: $asblue;
            padding-right: 10px; 
            margin-right: 10px; 
            /*border-right: 1px solid $asblue;*/

            &:last-child {
                padding: 0; 
                margin: 0; 
                border: 0;
            }
        }
        
        @media screen and (max-width: 823px) {
            padding-bottom: 10px;
            font-size: 15px;
        }
        
    }
    
    &__item {
        color: $asblue;
        padding: 0 6px;
        transition: color .1s;
        font-size: 30px;
        
        @media screen and (max-width: 823px) {
            padding: 0 10px;
            font-size: 40px;
        }

        &:hover {
            color: $aspink;
        }
    }
}